body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  height: 100vh;
}

#blocklyArea {
  height: 100%;
  width: 100%;
}

#blocklyDiv {
  position: absolute;
}

#sidebar {
  summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}
