---
import '../reset.css';
import '../style.css';
import '../split.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <title>Blockly Sample App</title>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
  <body>
    <slot/>
  </body>
</html>
